<a href="https://colab.research.google.com/github/raulangelj/DS-Lab8/blob/main/Laboratorio8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Laboratorio 8

Integrantes:
Bryann Alfaro 19372
Raul Jimenez 19017
Donaldo Garcia 19683

In [45]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [46]:
confirmed = pd.read_csv("confirmed.csv")
deaths = pd.read_csv("deaths.csv")
recovered = pd.read_csv("recovered.csv")

Colocar formato standard a columnas

In [47]:
confirmed = confirmed.rename(columns={"Province/State":"provincia", "Country/Region":"pais", "Lat":"latitud", "Long":"longitud"})
deaths = deaths.rename(columns={"Province/State":"provincia", "Country/Region":"pais", "Lat":"latitud", "Long":"longitud"})
recovered = recovered.rename(columns={"Province/State":"provincia", "Country/Region":"pais", "Lat":"latitud", "Long":"longitud"})

Dando formato Tidy

In [48]:
confirmed = confirmed.melt(id_vars=["provincia","pais","latitud","longitud"], var_name="date_info", value_name="confirmed")
deaths = deaths.melt(id_vars=["provincia","pais","latitud","longitud"], var_name="date_info", value_name="deaths")
recovered = recovered.melt(id_vars=["provincia","pais","latitud","longitud"], var_name="date_info", value_name="recovered")

Colocar formato Datetime en fechas

In [49]:
confirmed = confirmed.assign(fecha = pd.to_datetime(confirmed["date_info"], format="%m/%d/%y"))
confirmed.drop(columns=["date_info"], inplace=True)

deaths = deaths.assign(fecha = pd.to_datetime(deaths["date_info"], format="%m/%d/%y"))
deaths.drop(columns=["date_info"], inplace=True)

recovered = recovered.assign(fecha = pd.to_datetime(recovered["date_info"], format="%m/%d/%y"))
recovered.drop(columns=["date_info"], inplace=True)

Reordenar los datos

In [50]:
confirmed = confirmed.filter(["pais", "fecha", "provincia", "latitud", "longitud","confirmed"]).sort_values(["pais", "fecha"]).reset_index(drop=True)
deaths = deaths.filter(["pais", "fecha", "provincia", "latitud", "longitud","deaths"]).sort_values(["pais", "fecha"]).reset_index(drop=True)
recovered = recovered.filter(["pais", "fecha", "provincia", "latitud", "longitud", "recovered"]).sort_values(["pais", "fecha"]).reset_index(drop=True)

Merge

In [51]:
#Eliminar columnas de latitud y longitud en deaths y recovered para que no esten duplicadas en el dataframe final
deaths.drop(columns=["latitud","longitud"], inplace=True)
recovered.drop(columns=["latitud","longitud"], inplace=True)

In [52]:
#Realizando el merge

df_covid = (confirmed.merge(deaths, on=["pais","fecha","provincia"], how="left").merge(recovered, on=["pais","fecha","provincia"], how="left"))
df_covid.head()

,pais,fecha,provincia,latitud,longitud,confirmed,deaths,recovered
0,Afghanistan,2020-01-22,NaN,33.93911,67.709953,0,0,0.0
1,Afghanistan,2020-01-23,NaN,33.93911,67.709953,0,0,0.0
2,Afghanistan,2020-01-24,NaN,33.93911,67.709953,0,0,0.0
3,Afghanistan,2020-01-25,NaN,33.93911,67.709953,0,0,0.0
4,Afghanistan,2020-01-26,NaN,33.93911,67.709953,0,0,0.0

In [54]:
df_covid.tail()

,pais,fecha,provincia,latitud,longitud,confirmed,deaths,recovered
286683,Zimbabwe,2022-10-05,NaN,-19.015438,29.154857,257568,5603,0.0
286684,Zimbabwe,2022-10-06,NaN,-19.015438,29.154857,257655,5604,0.0
286685,Zimbabwe,2022-10-07,NaN,-19.015438,29.154857,257655,5604,0.0
286686,Zimbabwe,2022-10-08,NaN,-19.015438,29.154857,257655,5604,0.0
286687,Zimbabwe,2022-10-09,NaN,-19.015438,29.154857,257655,5604,0.0